*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: Poppins, sans-serif;
}
body{
    background: rgba(30, 30, 30, 0.942);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
.skillsCardContainer{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 50px;
}
@media screen and (max-width:585px) {
    .skillsCardContainer{
    padding: 0;
    margin: 0;
}
}
